
.jumbotron {
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("../images/mosque-pic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 250px 0 200px 0 !important;
}

.jumbotron .display-4 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    color: white;
    padding: 10px;
}
@media screen and (max-width: 419px) {
    .jumbotron .display-4 {
        font-size: 3rem;
    }
}


.jumbotron p {
    color: white;
    padding: 10px !important;
    font-size: 1.75rem;
    font-weight: 50px;
}

.jumbotron a{
    border-color: white;
    color: white;
    border: none;
}

.jumbotron a:hover{
    background-color:rgb(179, 158, 101) !important;
}
