
.jumbotron {
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("../images/coding.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 250px 0 200px 0 !important;
}

.jumbotron .display-4 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    color: white;
}

.jumbotron p {
    color: white;
}

.jumbotron button{
    border-color: white;
    color: white;
}

.jumbotron button:hover{
    background-color:rgb(179, 158, 101) !important;
}
