
.navbar {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.363);
    background-color: white;
}

.navbar .navbar-brand{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

@media screen and (max-width: 419px) {
    .navbar .navbar-brand{
        font-size: 1rem;
    }
}

.navbar .navbar-brand:hover{
    color:rgb(179, 158, 101) !important;
}

.navbar .nav-link{
    color: black !important;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    padding-right: 10px !important;
}

.navbar .nav-link:hover{
    color:rgb(179, 158, 101) !important;
}