*, ::after, ::before {
    box-sizing: border-box;
}

.section-class .mbr-section-subtitle {
    color: #98aac8;
}

.section-title {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
}

.mbr-section-subtitle {
    letter-spacing: 0.2rem;
    font-weight: 400;
}

.align-left {
    text-align: left;
}

.display-2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    line-height: 1.1;
}
.mbr-bold {
    font-weight: 300;
}

.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}

.card-title {
    margin-bottom: .75rem;
}

.activities {
    padding-top: 75px;
    padding-bottom: 0px;
}

@media (max-width: 1500px){
    .section-class .wrapper {
        padding: 6rem 4rem;
    }
}

@media (max-width: 530px){
    .section-class  .display-2{
        font-size: 3rem;
    }
}

.activities .text-wrap {
    color: #999999;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.section-class .img-col {
    padding: 10px;
}

.section-header {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    padding-bottom: 2rem;
}

@media (max-width: 530px){
    .section-header{
        font-size: 3rem;
    }
}

@media (max-width: 767px) {
    .align-left, .align-center, .align-right, .mbr-section-btn, .mbr-section-title {
        text-align: center;
    }
}

.display-7 {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #999999;
}

.display-5 {
    font-family: 'Cormorant Garamond', serif;
    color: black;
    font-size: 2rem;
}

.section-class .link {
    padding-left: 10px;
}

#quran-derse-area {
    background-color: #f8f8f8;
}