*, ::after, ::before {
    box-sizing: border-box;
}

.section-class .mbr-section-subtitle {
    color: #98aac8;
}

.section-title {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
}

.mbr-section-subtitle {
    letter-spacing: 0.2rem;
    font-weight: 500;
    font-size: 1.75rem;
}

.align-left {
    text-align: left;
}

.display-2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    line-height: 1.1;
}
.mbr-bold {
    font-weight: 300;
}

.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}

.card-title {
    margin-bottom: .75rem;
}

.activities {
    padding-top: 75px;
    padding-bottom: 0px;
}

@media (max-width: 1500px){
    .section-class .wrapper {
        padding: 6rem 4rem;
    }
}

@media (max-width: 530px){
    .section-class  .display-2{
        font-size: 3rem;
    }
}

.activities .text-wrap {
    color: #999999;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.section-class .img-col {
    padding: 10px;
}


.section-class .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    vertical-align: middle;
    border-style: none;
}




.section-header {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    padding-bottom: 2rem;
    text-align: center;
}

@media (max-width: 530px){
    .section-header{
        font-size: 3rem;
    }
}

@media (max-width: 767px) {
    .align-left, .align-center, .align-right, .mbr-section-btn, .mbr-section-title {
        text-align: center;
    }
}

.display-7 {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.3rem;
    line-height: 1.6;
    color: #999999;
}

.display-5 {
    font-family: 'Cormorant Garamond', serif;
    color: black;
    font-size: 2rem;
}

.section-class .link {
    padding-left: 10px;
}

#weekly-meeting-area{
    background-color: #f8f8f8;
}

.section-class .bg-image .display-1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
}

@media (max-width: 1024px){
    .section-class .bg-image .display-1 {
        font-size: 3rem;
    }
}

.p-3 {
    padding: 1rem!important;
}

.section-class .card-wrapper {
    background-position: center;
    padding: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-box {
    width: 100%;
}

.section-class .card-wrapper .mbr-section-subtitle {
    font-size: 2rem;
}

.section-class .card-wrapper .display-7 {
    font-size: 1.6rem;
}

@media (max-width: 767px) {
    .card-wrapper {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .section-class .card-wrapper .display-7 {
        font-size: 1rem;
    }
}

#contact .btn{
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

#contact .btn:hover{
    background-color:rgb(179, 158, 101) !important;
    color: white;
}

#contact {
    background-color: #f8f8f8;
}

html {
    scroll-behavior: smooth;
}

.footer-content {
    text-align: center;
    justify-content: center;
    background-color: rgb(20, 20, 37);
    padding-top: 50px;
    background-size: cover;
}

.footer-content .fab{
    font-size: 2rem;
    color: white;
}

.footer-content .fab:hover{
   color:rgb(179, 158, 101) !important;
}

.section-class .hr {
    height: 1px;
    width: 640px;
    display: inline-block;
    clear: both;
    background-color: #d8d8d8;
    opacity: 0.3;
}

.section-class .copyright {
    color: white;
    padding-bottom: 1rem;
}